.link {
  font-weight: 900;
  color: #2f3847;
  min-width: 50%;
  text-align: center;
  border-bottom: 1px solid #b2b2b2;
  text-decoration: none;
  padding: 1rem 0 1rem 0;
}

.link-active {
  border-bottom: 3px solid #63d4c2;
}

.header {
  margin-top: 1rem;
  background-color: #2f3847;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  min-height: 10rem;
  text-align: center;
  color: #7f8793;
  flex-grow: 1;
  border: 0.5px solid #373e4b;
  margin: 0;
  padding: auto 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-item > p > span {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.table {
  margin-top: 2rem;
  min-width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2.8px 12.2px rgba(0, 0, 0, 0.034),
    0 6.7px 15.3px rgba(0, 0, 0, 0.048), 0px 12.5px 30px rgba(0, 0, 0, 0.06);
}

.table > thead > tr > th {
  border-bottom: 1px solid #b2b2b2;
  padding: 1.5rem 0;
  padding-left: 1rem;
  text-align: left;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #b2b2b2;
  padding: 1.5rem 0;
  padding-left: 1rem;
}
.form > * {
  display: block;
  text-align: left;
  float: none;
}

.form > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b2b2b2;
  padding: 1.5rem 0 0.5rem 0;
  font-size: 1.1rem;
}

.form > label {
  font-size: 1.1rem;
}

.form > textarea {
  width: 100%;
  min-height: 7rem;
  font-size: 1.1rem;
}
