@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #373e4b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}

#root {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: none;
  background-color: #63d4c2;
  color: white;
  padding: 0.2rem 1rem;
  text-align: center;
}

@media (min-width: 576px) {
  .sm-w-100 {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .md-w-50 {
    min-width: 40%;
    max-width: 40%;
  }
  .md-heading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
